
#modal-feedback-link {
  background: #D45528;
  left: 0;
  position: absolute;
  top: 150px;
  -moz-box-shadow: 1px 2px 2px #666666;
  -moz-border-radius: 0 10px 10px 0;
}

#modal-feedback-link a {
  padding: 6px 10px;
  display:block;
  color: #fff;
}